In [2]:
# Import the dependencies.  6.1.4

import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

from citipy import citipy


import requests

# Import the API key.
from config import weather_api_key

# Import linregress
from scipy.stats import linregress

# when restart file, instead of creating new cities, import cvs file

In [3]:
city_data_df = "weather_data/cities.csv"

In [4]:
city_data_df = pd.read_csv(city_data_df)

In [5]:
city_data_df

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Arraial Do Cabo,-22.9661,-42.0278,75.06,78,75,19.57,BR,2021-11-20 16:22:36
1,1,Port Blair,11.6667,92.7500,81.73,86,66,13.06,IN,2021-11-20 16:27:22
2,2,Ushuaia,-54.8000,-68.3000,44.22,70,75,40.29,AR,2021-11-20 16:23:48
3,3,Puerto Ayora,-0.7393,-90.3518,76.96,74,83,10.31,EC,2021-11-20 16:27:23
4,4,Butaritari,3.0707,172.7902,81.91,66,97,14.12,KI,2021-11-20 16:27:23
...,...,...,...,...,...,...,...,...,...,...
563,563,Devils Lake,48.1128,-98.8651,28.94,81,1,5.01,US,2021-11-20 16:41:32
564,564,Atherton,53.5237,-2.4935,53.78,91,93,5.99,GB,2021-11-20 16:41:32
565,565,Sembakung,3.8167,117.2500,78.73,99,74,0.92,ID,2021-11-20 16:41:32
566,566,Petropavlovsk-Kamchatskiy,53.0452,158.6483,34.39,93,90,33.55,RU,2021-11-20 16:41:32
567,567,Chifeng,42.2683,118.9636,27.59,75,100,2.01,CN,2021-11-20 16:40:01

In [6]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config2 import g_key

In [7]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

#  max_temp

In [8]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]


# # Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# temps = []
# for temp in max_temp:
#     temps.append(max(temp, 0))

temps = [max(temp, 0) for temp in max_temp ]
    
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)

# Add the heatmap layer.
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

# Humidity

In [9]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

# Cloudiness

In [10]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

# Wind speed

In [11]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
winds = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=winds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

# Ask users to input for temperature for trip

In [12]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [13]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Arraial Do Cabo,-22.9661,-42.0278,75.06,78,75,19.57,BR,2021-11-20 16:22:36
1,1,Port Blair,11.6667,92.7500,81.73,86,66,13.06,IN,2021-11-20 16:27:22
3,3,Puerto Ayora,-0.7393,-90.3518,76.96,74,83,10.31,EC,2021-11-20 16:27:23
4,4,Butaritari,3.0707,172.7902,81.91,66,97,14.12,KI,2021-11-20 16:27:23
12,12,Kapaa,22.0752,-159.3190,75.52,77,75,4.61,US,2021-11-20 16:27:25
22,22,Atuona,-9.8000,-139.0333,79.21,67,2,12.77,PF,2021-11-20 16:25:59
25,25,Hilo,19.7297,-155.0900,76.28,87,90,6.91,US,2021-11-20 16:27:27
26,26,Allada,6.6655,2.1514,86.76,57,41,7.56,BJ,2021-11-20 16:27:28
32,32,Bengkulu,-3.8004,102.2655,77.25,89,95,3.67,ID,2021-11-20 16:27:29
34,34,Cabo San Lucas,22.8909,-109.9124,78.51,57,1,3.00,MX,2021-11-20 16:23:12

In [14]:
preferred_cities_df.isnull().sum()

City_ID       0
City          0
Lat           0
Lng           0
Max Temp      0
Humidity      0
Cloudiness    0
Wind Speed    0
Country       0
Date          0
dtype: int64

# Map Vacation Criteria 6.5.4

In [15]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(5)

               City Country  Max Temp      Lat       Lng Hotel Name
0   Arraial Do Cabo      BR     75.06 -22.9661  -42.0278
1        Port Blair      IN     81.73  11.6667   92.7500
3      Puerto Ayora      EC     76.96  -0.7393  -90.3518
4        Butaritari      KI     81.91   3.0707  172.7902
12            Kapaa      US     75.52  22.0752 -159.3190

In [16]:
# Set parameters to search for a hotel.
params = {"radius": 5000,
    "type": "lodging",
    "key": g_key}

In [17]:
# Iterate through the DataFrame.

for index, row in hotel_df.iterrows():
    
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    
# Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
        #print(hotels["results"][0]["name"])
       
    except (IndexError):
        print("Hotel not found... skipping.")
# Indicate that Data Loading is complete.
print("-----------------------------")
print("Data Retrieval Complete      ")
print("-----------------------------")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
-----------------------------
Data Retrieval Complete
-----------------------------

In [18]:
hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Arraial Do Cabo,BR,75.06,-22.9661,-42.0278,Pousada Porto Praia
1,Port Blair,IN,81.73,11.6667,92.7500,"Welcomhotel By ITC Hotels, Bay Island, Port Blair"
3,Puerto Ayora,EC,76.96,-0.7393,-90.3518,Finch Bay Galapagos Hotel
4,Butaritari,KI,81.91,3.0707,172.7902,Isles Sunset Lodge
12,Kapaa,US,75.52,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
...,...,...,...,...,...,...
548,Puerto Escondido,MX,83.23,15.8500,-97.0667,Aldea del Bazar Hotel and Spa
553,Rocha,UY,80.96,-34.4833,-54.3333,Hotel Arrarte
554,Maunabo,PR,87.48,18.0072,-65.8993,Maunacaribe
561,Naguabo,PR,87.46,18.2116,-65.7349,RodrÃ­guez Apartments & DoÃ±a Ana Resorts
565,Sembakung,ID,78.73,3.8167,117.2500,

In [19]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [22]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [27]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

KeyError: 'column1'

In [29]:
# Iterate through the DataFrame.

hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
    
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    
# Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
        #print(hotels["results"][0]["name"])
       
    except (IndexError):
        print("Hotel not found... skipping.")
# Indicate that Data Loading is complete.
print("-----------------------------")
print("Data Retrieval Complete      ")
print("-----------------------------")

IndentationError: unexpected indent (Temp/ipykernel_28348/1989581005.py, line 6)